# Creating Analytic Dataset

**STEPS**:  
1. Merging neighborhood-level house price and house value index dataset with neighborhood-level school quality dataset.
2. *Merging with demographics dataset*

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df_sales = pd.read_csv("./data/cleaned_neighbor_sales.csv")
df_school = pd.read_csv("./data/schools_neighborhoods.csv")

In [4]:
df_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3028 entries, 0 to 3027
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Neighborhood        3028 non-null   object
 1   Year                3028 non-null   int64
 2   Number Of Sales     3028 non-null   int64
 3   Average Sale Price  3028 non-null   float64
 4   Median Sale Price   3028 non-null   float64
 5   Lowest Sale Price   3028 non-null   int64
 6   Highest Sale Price  3028 non-null   int64
 7   Match               2429 non-null   object
 8   Borough             2425 non-null   object
 9   HVI                 2423 non-null   float64
dtypes: float64(3), int64(4), object(3)
memory usage: 236.7+ KB

In [5]:
df_school.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2184 entries, 0 to 2183
Data columns (total 55 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   fiscal_year                        2184 non-null   int64
 1   system_code                        2184 non-null   object
 2   location_code                      2184 non-null   object
 3   location_name                      2184 non-null   object
 4   BEDS                               2184 non-null   int64
 5   Managed_by_name                    2184 non-null   object
 6   location_type_description          2184 non-null   object
 7   Location_Category_Description      2184 non-null   object
 8   Grades_text                        2101 non-null   object
 9   Grades_final_text                  2098 non-null   object
 10  open_date                          2184 non-null   object
 11  Status_descriptions                2184 non-null   object
 12  Primary_building_code              2184 non-null   object
 13  primary_address_line_1             2184 non-null   object
 14  State_code                         2184 non-null   object
 15  X_COORDINATE                       2184 non-null   float64
 16  Y_COORDINATE                       2184 non-null   float64
 17  LONGITUDE                          2184 non-null   float64
 18  LATITUDE                           2184 non-null   float64
 19  Community_district                 2183 non-null   float64
 20  Council-district                   2183 non-null   float64
 21  Census_tract                       2183 non-null   float64
 22  Borough_block_lot                  2183 non-null   float64
 23  NTA                                2183 non-null   object
 24  NTA_Name                           2183 non-null   object
 25  Principal_Name                     2073 non-null   object
 26  Principal_title                    2074 non-null   object
 27  Principal_phone_number             2094 non-null   object
 28  fax_number                         2041 non-null   object
 29  Geographical_District_code         2184 non-null   int64
 30  Administrative_District_Code       2184 non-null   int64
 31  Administrative_District_Name       1713 non-null   object
 32  community_school_sup_name          1383 non-null   object
 33  Tier_3_Support_Location_Name       1635 non-null   object
 34  Tier_3_Support_Leader_Name         1221 non-null   object
 35  Tier_2_Support_Location_Name       1635 non-null   object
 36  HighSchool_Network_Location_Code   500 non-null    object
 37  HighSchool_Network_Name            500 non-null    object
 38  HighSchool_Network_Superintendent  500 non-null    object
 39  Community_district 1               2183 non-null   float64
 40  Police_precinct                    2177 non-null   float64
 41  geometry                           2184 non-null   object
 42  index_right                        2184 non-null   float64
 43  the_geom                           2184 non-null   object
 44  BoroCode                           2184 non-null   int64
 45  BoroName                           2184 non-null   object
 46  CountyFIPS                         2184 non-null   int64
 47  NTA2020                            2184 non-null   object
 48  NTAName                            2184 non-null   object
 49  NTAAbbrev                          2184 non-null   object
 50  NTAType                            2184 non-null   int64
 51  CDTA2020                           2184 non-null   object
 52  CDTAName                           2184 non-null   object
 53  Shape_Leng                         2184 non-null   float64
 54  Shape_Area                         2184 non-null   float64
dtypes: float64(13), int64(7), object(35)
memory usage: 938.6+ KB

In [6]:
df_school.sample(5)

,fiscal_year,system_code,location_code,location_name,BEDS,Managed_by_name,location_type_description,Location_Category_Description,Grades_text,Grades_final_text,...,BoroName,CountyFIPS,NTA2020,NTAName,NTAAbbrev,NTAType,CDTA2020,CDTAName,Shape_Leng,Shape_Area
1153,2020,25Q024,Q024,P.S. 024 Andrew Jackson,342500010024,DOE,General Academic,Elementary,"PK,0K,01,02,03,04,05,SE","PK,0K,01,02,03,04,05",...,Queens,81,QN0705,East Flushing,EstFlshng,0,QN07,QN07 Flushing-Murray Hill-Whitestone (CD 7 App...,28376.500551,3.165993e+07
23,2020,14K023,K023,P.S. 023 Carter G. Woodson,331400010023,DOE,General Academic,Elementary,"PK,0K,01,02,03,04,05,SE","PK,0K,01,02,03,04,05",...,Brooklyn,47,BK0301,Bedford-Stuyvesant (West),BdSty_W,0,BK03,BK03 Bedford-Stuyvesant (CD 3 Approximation),26307.646052,3.690670e+07
1007,2020,84M433,M433,Renaissance Charter High School for Innovation,310400860968,Charter,General Academic,High school,"09,10,11,12","09,10,11,12",...,Manhattan,61,MN1101,East Harlem (South),EstHrlm_S,0,MN11,MN11 East Harlem (CD 11 Equivalent),18682.265061,1.665394e+07
1090,2020,02M580,M580,Richard R. Green High School of Teaching,310200011580,DOE,General Academic,High school,"09,10,11,12,SE","09,10,11,12",...,Manhattan,61,MN0101,Financial District-Battery Park City,FiDi,0,MN01,MN01 Financial District-Tribeca (CD 1 Equivalent),44446.236566,1.924501e+07
2088,2020,08X540,X540,School for Community Research and Learning,320800011540,DOE,General Academic,High school,"10,11,12,SE","09,10,11,12",...,Bronx,5,BX0902,Soundview-Clason Point,Sdvw_ClsPt,0,BX09,BX09 Soundview-Parkchester (CD 9 Approximation),40474.173710,3.031958e+07